@media (max-width: 1280px) {
    .header-contacts {
        display: none;
    }

    .header-inner {
        padding-left: 1em;
        padding-right: 1em;
    }

    .masthead-content {
        color: white;
        padding: 1em;
    }

    .header-left {
        padding-right: 1em;
        border-right: 1px solid #ccd0ec;
        display: none;
    }

    .header-center {
        padding-left: 0em;
        column-gap: .5em;
    }

    .points {
        padding-left: 1em;
        padding-right: 1em;
        grid-column-gap: 4em;
        flex-direction: column;
        display: flex;
    }

    .subscribe {
        padding-top: 0px;
        padding-bottom: 1em;
    }

    .subscribe-inner {
        padding-left: 1em;
        padding-right: 1em;
        flex-direction: column;
        gap: 2em;
    }

    .about.flex.flex-row {
        background: url(/png/noise_tile.png), url(/svg/background_about.svg), linear-gradient(175deg, rgb(255, 183, 69) 0%, rgb(255, 155, 0) 100%);
        background-position-x: 0%, 0%, 0%;
        background-position-y: 0%, 0%, 0%;
        background-repeat: repeat, repeat, repeat;
        background-size: auto, auto, auto;
        background-position-x: 0%, 0%, 0%;
        background-position-y: 0%, 0%, 0%;
        background-repeat: repeat, repeat, repeat;
        background-size: auto, auto, auto;
        background-position-x: 0%, 0%;
        background-position-y: 0%, 0%;
        background-repeat: repeat, repeat;
        background-size: auto, auto;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        background-position: center right;
        background-repeat: no-repeat, repeat;
        background-size: 20%, auto, cover;
        background-blend-mode: overlay;
        padding-top: 2em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 2em;
    }

    .footer-inner {
        padding-left: 1em;
        padding-right: 1em;
        flex-direction: column;
        font-size: 75%;
        justify-content: left;
        align-items: start;
        text-align: left;
        gap: .5em;
    }

    .text-sm.max-w-sm.w-max.footer-bullet.unbounded.black {
        text-align: left;
    }

    .page {
        font-size: 90%;
        text-align: left;
    }

    .button.masthead-home {
        width: 100%;
        justify-content: center;
    }

    .masthead-title {
        max-width: 100%;
    }

    .image-wrapper.link.logo {
        max-width: 50px;
        padding: 0px;
    }

    .header-secondary {
        display: none;
    }

    .footer-inner {
        padding-left: 1em;
        padding-right: 1em;
        flex-direction: column;
        font-size: 75%;
    }

    .about-inner p {
        font-size: 75%;
    }

    .footer-inner.footer-bordered {
        margin-left: 1em;
        margin-right: 1em;
    }

    .image-wrapper.ui-abstract {
        position: absolute;
        top: -200px;
        right: -200px;
        z-index: 1;
        display: none;
    }

    .features {
        padding-left: 1em;
        padding-right: 1em;
    }

    .features-inner {
        flex-direction: column;
    }

    .features-button .button {
        max-width: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    .features-block {
        min-height: 12rem;
    }

    .image-wrapper.link.py-2.m-auto.hide-mobile {
        border-bottom: 1px solid var(--stroke);
        width: 100%;
        justify-content: center;
        align-items: center;
        background: white;
    }

    .features-block.feature-block-C {
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
    }

    .image-wrapper.features-text {
        display: none;
    }
}

@media (min-width:1280px) {
    .bullet.active {
        color: #171B3D;
        border-bottom: .4em solid var(--red);
        padding-top: calc(.25em + .4em);
    }

    .bullet.secondary {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .bullet {
        padding-top: .25em;
        padding-bottom: .25em;
    }

    .hide-mobile {
        display: none !important;
    }

    .features-block {
        max-width: 33.33333%;
    }

    .features-button .button {
        max-width: 33.33333%;
    }

    .features-inner {
        min-height: 36rem;
        height: 36rem;
    }
}

@media (min-width:768px) and (max-width:1280px) {
    .features-block.feature-block-C {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    .image-wrapper.ui-abstract {
        position: absolute;
        top: -200px;
        right: -50px;
        z-index: 1;
    }

    .points {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .subscribe-inner {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:368px) and (max-width:768px) {
    .features-block.feature-block-C {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width:100px) and (max-width:1024px) {

}